body{
    color:rgb(45, 33, 48);
    background-color: white;
    font-family: 'Amatic SC', cursive;
}
.heading{
    width:80%;
    font-size: 22px;
    color: rgb(255, 255, 255);

}
.name_Of_Objects,#result_object_name,#result_object_accuracy{
    color: rgb(77, 168, 112);
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}